### Number of approaches to create an object of ndarray

=>In numpy programming, we have 8 approaches to create an object of ndarray. They are

		1. array()
		2. arange()
		3. zeros()
		4. ones()
		5. full()
		6. identity()
		7. hstack()- horizontal stack
		8. vstack() -  vertical stack
    9. random module

### array() function
=> it is used to convert traditional python obects into ndarray objects.

syntax :- varname =  numpy.array(object,dtype)

 varname = is an object of < class,ndarray>

 object = traditional python object

 dtype = numpy data type such as int8,int16,int32,float16,float32,float64,...etc

In [1]:
import numpy as np
l1 =[10,20,30,40]
print(l1,type(l1))

[10, 20, 30, 40] <class 'list'>

In [3]:
x = np.array(l1)
print(x,type(x))

[10 20 30 40] <class 'numpy.ndarray'>

In [4]:
x.ndim

1

In [5]:
x.shape

(4,)

In [ ]:
t=(10,20,30,40,50,60,70)
p